.post-content {
  width: 800px;
  display: block;
  margin: 10px auto 10px;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}
.featured-image img {
  align: middle;
  margin: 5px auto 25px;
  display: block;
  max-width: 600px;
}
@media (max-width: $container-width) {
  .post-content {
    width: 60vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .post-content {
    width: 95vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 95vw;
  }
}
.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}

/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related ul, ol, dl {
  margin: 0px;
}
.related-posts {
  padding: 10px 0px 10px;
  list-style: none;
  display: inline-block;
}
.related-thumbnail {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}
.related img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 600px;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.related-title {
  float: right;
  padding-bottom: .5rem;
  font-family: $base-font-family;
}
@media (max-width: $container-width) {
  .related-thumbnail{
    width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .related-thumbnail{
    width: 95vw;
  }
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column4 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


floatright {
  float: right;
  width: 200px;
  margin: 0 0 15px 20px;
  padding: 10px;
  border: 0px solid black;
  text-align: center;
}

floatleft {
  float: left;
  width: 150px;
  margin: 0 0 15px 20px;
  padding: 15px;
  border: 0px solid black;
  text-align: center;
}


div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-right: 0px solid transparent;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  word-break: break-all;
  white-space: pre-line;
}